*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}
.container{
    width: 100%;
    height: 120vh;
}
.formcon{
    width: 40%;
    height: 500px;
    margin: auto;
    
    flex-direction: column;
   background-color: rgba(0, 0, 0, 0.8);
   box-shadow: 0 0 1px rgba(10, 9, 9, 0.6);
}
.formcon h1{
    color: aliceblue;
    width: 80%;
    margin-left: 80px;
    text-align: start;
    font-size: 35px;
    padding-top: 30px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}
.formcon form{
    width: 80%;
    height: 350px;
    display: flex;
    flex-direction: column;

   
}
.formcon form input{
    width: 80%;
    height: 50px;
     margin-top: 20px;
     margin-left: 40px;
    border: 0;
    outline: 0;
    border-radius: 6px;
    padding-left: 30px;
    background-color: rgb(70, 65, 65);
   
}
#submit{
    background-color: rgb(220, 19, 19);
    color: rgb(255, 255, 255);
    font-size: 20px;
   
}

.formques{
    
    width: 70%;
    height: 80px;
    margin-top: -90px;
    padding: 20px;
    color:gray;
    font-size: 17px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
.formques a{
    
    color: blue;
    font-size: 16px;
    padding-left: 10px;
    text-decoration: none;
}
.formques a:hover{
    text-decoration: underline;
}
#white-a{
    color: white;
    font-size: 18px;
}
